.tablesLink{
    font-size: 35px;
    font-family: sans-serif;
    padding: 40px;
}

table{
    padding-top: 40px;
    padding-bottom: 20px;
}
.tableDiv{
    background-color: whitesmoke;
}
.pro{
    font-size: 30px;
    font-family: sans-serif; 
}
.use{
    font-size: 30px;
    font-family: sans-serif;
    color: red;
}
