* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-continar{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  
 
}
.login-continar{
  width: 100%;
  height: 55%;
 
  display: flex;
 flex-direction: column;
}
.login-register{
  height: 20%;
  display: flex;
  justify-content: center;
  
  
}
.inner{
  width: 24%;
  display: flex;
  justify-content: flex-start;
  gap: 10%;
  margin-left: 7%;
  
  
}
.login-register span{
  font-size: 36px;
  font-weight: 400;
  cursor: pointer;
}
#login{
  color: #ff4136;
}
#register{
  color: #000;
  transition: all .4s ease 0s;
}
#register:hover{
  color: #ff4136;
}
.login-box-out{
  height: 80%;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box-inner{
  width: 30%;
  height: 100%;
  /* background-color: antiquewhite; */
  
}
.login-box-inner input{
  margin-bottom: 20px;
  border-color: currentcolor currentcolor #8e8e8e;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #686868;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    width: 85%;
    background: transparent;
}
.button-signIn{
  /* width: 85%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#signIn{
  border: 1px solid #d5d5d5;
    color: #4b4b4b;
    display: inline-block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    width: 150px;
    background-color: #fff;
    cursor: pointer;
}

#signIn:hover{
  background: #ff4136 none repeat scroll 0 0;
    border: 1px solid #ff4136;
    color: #fff;
}



.message{
  width: 100%;
  display: flex;
  justify-content: center;
}
.ErrorMessage {
  
 
  background-color: rgb(248, 159, 156);
  color: rgb(139, 5, 5);
  font-size: 18px;
  margin: 5px;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  font-family: "Segoe UI";
  border: solid 1px rgba(128, 128, 128, 0.376);
}


/* .authentication {
  margin-top: 20%;
  border: 3px solid rgb(0, 255, 0);
}

input {
  width: 350px;
  margin: 5px;
  height: 30px;
  padding: 2px;
  font-size: 15px;
  border: solid 1px rgba(128, 128, 128, 0.376);
}

button {
  width: 350px;
  margin: 5px;
  height: 40px;
  background-color: rgb(219, 132, 18);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: seashell;
  font-size: large;
}
.Title {
  margin: 5px;
  font-size: 18px;
  font-family: "Segoe UI";
} */

