
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kalam&family=Kaushan+Script&family=Lobster+Two:ital@1&family=Road+Rage&display=swap');

.headerImg{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.product{
border: 1px solid black;
border-radius: 4%;
/* padding: 10%; */

}
.products{
display: grid;
grid-template-columns: auto auto auto;
gap: 7%;

}

.add{
    font-size: 80%;
    color: black;
    background-color: rgb(131, 183, 199);
    width: 70px;
    border-radius: 4%;

}
.add:hover{
    background-color: rgb(91, 112, 117);
}
img{
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.twoButton{
    text-align: center;
    width: 100px;
    display: grid;
    grid-template-columns: auto auto;
}

/* .products{
    width: 300px;
} */

.section2{
    margin-top: 400px;
}
.header{
    font-family: 'Lobster Two', cursive;
/* display: flex; */

}
.year{
    color: red;
}
.address{
   text-align: start;
   margin-top: 5%;
margin-left: 15%;
}