
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kalam&family=Kaushan+Script&family=Lobster+Two:ital@1&family=Road+Rage&display=swap');

.headerImg{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.product{
/* border: 1px solid black; */
margin: 6%;
width: auto;

}
.offer{
  width: 30%;
  margin-right: 20px;
  margin-top: 35%;
}
.products{
display: grid;
grid-template-columns: auto auto auto auto;
padding: 2%;
 margin-left: 38px;
    /* text-align: -webkit-center;  */

}

.add{
    font-size: 30px;
    /* width: 20px; */
    padding-top: 20px;
    margin-bottom: 20px;
    color: black;
    background-color: white;
    width: 90px;
    border: none;
    /* border-radius: 4%; */

}
.add:hover{
color: red;}
img{
    width: 100%;
    height: 70%;
    cursor: pointer;
}
.twoButton{
    /* margin-top: 10%; */
    font-size: 25px;
    text-align: center;
    width: 100px;
    display: inline;
    /*grid-template-columns: auto auto; */
}

.price{
    padding-bottom: 20px;
    font-size: 25px;
    /* color: red; */
}
.priceColor{
    color: red;
}

.section2{
    margin-top: 140px;
    background-color: whitesmoke;
    padding-top: 5px;
}
.header{
    font-family: 'Lobster Two', cursive;
    padding-top: 100px;
/* display: flex; */

}
.year{
    color: red;
}
.address{
   text-align: start;
   margin-top: 5%;
margin-left: 11%;
font-family: 'Poppins', sans-serif;
}

.type-home{
    display: flex;
    justify-content: space-evenly;
    margin-left: 36%;
    margin-right: 35%;
    color: #666;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    padding: 0 20px;
    text-transform: uppercase;
    transition: all .4s ease 0s;
    margin-top: 100px;
}
.type-home span:hover{
    color:  #ff4136;
    cursor: pointer;
 }
.aboutUs{
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.imgAbout{
    width: 350px;
    height: auto;
    float: left;
    padding-right: 20px;
    margin-top: 30px;


}

.pImg{
    padding-top: 200px;
    text-align: start;
    /* font-size: 15px; */
   
}
.pad{
 margin-left: 35%;
 width: 40%;

}
.what{
    font-size: 100px;
}
.pNewCollection{
    font-size: 30px;
}

.pagination{
display: flex;
justify-content: center;
align-items: center;
background-color: whitesmoke;
}
.h1Pagination{
  padding: 25px;
  font-size: 30px;
}
.h1Pagination:hover{
 color: red;
}
.pageNumber{
  font-size: 20px;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////// */


body,
html {
  height: 100%;
}


.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section3{
  background-color: whitesmoke;
}

.page-wrapper {
  height: 100%;
  display: table;

}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.el-wrapper {
  /* border: 1px solid; */
  box-shadow: 5px 10px 8px #888888;

  width: 320px;
  /* padding: 15px; */
  margin: 15px auto;
  background-color: #fff;
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }
}

.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #818181;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
  webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
  margin-top: -25px;
}

.el-wrapper .box-up {
  width: 100%;
  height: 370px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding-bottom: 20px;
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #3f96cd;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #464646;
}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 25px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #252525;
}

.info-inner .p-company {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #8c8c8c;
}

.a-size {
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  /* position: absolute; */
  width: 100%;
  /* bottom: -10px; */
  font-family: 'PT Sans', sans-serif;
  color: #828282;
  opacity: 0;
font-size: 20px;
  margin-top: 10px;

}

.a-size .size {
  color: #252525;
  
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #252525;
}

.cart .add-to-cart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}
.cart .add-to-cart .txt:hover{
  color: aquamarine;
}