
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kalam&family=Kaushan+Script&family=Lobster+Two:ital@1&family=Road+Rage&display=swap');

.headerImg{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.product{
/* border: 1px solid black; */
margin: 6%;
width: auto;

}
.products{
display: grid;
grid-template-columns: auto auto auto;
padding: 7%;

}

.add{
    font-size: 20px;
    /* width: 20px; */
    padding-top: 20px;
    color: black;
    background-color: white;
    width: 90px;
    border: none;
    /* border-radius: 4%; */

}
.add:hover{
color: red;}
img{
    width: 250px;
    height: 200px;
    cursor: pointer;
}
.twoButton{
    /* margin-top: 10%; */
    text-align: center;
    width: 100px;
    display: inline;
    /*grid-template-columns: auto auto; */
}

.price{
    padding-top: 20px;
}

.section2{
    margin-top: 350px;
}
.header{
    font-family: 'Lobster Two', cursive;
/* display: flex; */

}
.year{
    color: red;
}
.address{
   text-align: start;
   margin-top: 5%;
margin-left: 15%;
}

.type-home{
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5%;
}