.comment-main{
    width: 100%;
}
.commentHere{
   
    display: flex;
    margin-bottom: 20px;
    border-color: currentcolor currentcolor #8e8e8e;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #686868;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    width: 79%;
    background: transparent;
    margin-left: 3.8%;
}

.addComment{
    margin-right: 133px;
    margin-bottom: 18px;

}
.addComment:hover{
   cursor: pointer; 
}
.block{
    display: flex;
}
.pComment{
    text-align: start;
}

.CommentDiv{
    /* margin-top: 10px; */
    
    
    justify-content: center;
    display: flex;
    
}
.test4-continar{
    width: 62%;
    justify-content: start;
    display: flex;
    margin-left: 4%;
}
.test4{
    display: flex;
    /* background-color: mintcream; */
    padding: 15px;
    margin-top: 10px;
    width: 84.2%;
    /* box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%); */
    background: transparent;
    box-shadow: 0 0px 12px -3px grey;
    justify-content: space-between;
    border-radius: 10px;
}
.delComment{
    
    margin-top: 10px;
}
.delComment:hover{
    color: rgb(238, 10, 10);
    cursor: pointer;
}


/******************************************************/
.writeComment-continar{
    display: flex;
    justify-content: center;
}
.writeComment{
    width: 62%;
display: flex;
justify-content: space-between;
align-items: center;
}