.footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5%;
}
@media(max-width: 1100px){
  .footer {
    display: grid;
    grid-template-columns:  auto;
    padding: 5%;
  }
  .t{
    margin-bottom: 10%;
  }
}
.footerImg {
  background-color: rgba(168, 182, 190, 0.473);
  font-family: "Poppins", sans-serif;
  color: #303030;
  font-weight: 400;
}

.emailAddress {
  padding: 14px;
}

.go {
  padding: 15px;
  font-size: 15px;
  background-color:rgb(164, 177, 218);
  border: none;
  color: black;
}
.go:hover {
  background-color: rgb(130, 160, 216);
}
hr {
  margin-left: 10%;
  margin-right: 10%;
}
.icon {
  font-size: 25px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.icon1 {
  padding-top: 10px;
}
