.table{
    /* border: 1px solid black; */
    text-align: center;
    display: inline-block;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.tr{
    border: 1px solid ;
    font-size: 20px;
}
 th, td {
    border:1px solid black;
    padding: 30px;
  }

  .del{
      background-color: red;
      padding: 10px;
  }