* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Form {
  margin-top: 20%;
  border: 3px solid orangered;
}

input {
  width: 350px;
  margin: 5px;
  height: 30px;
  padding: 2px;
  font-size: 15px;
  border: solid 1px rgba(128, 128, 128, 0.376);
}

button {
  width: 350px;
  margin: 5px;
  height: 40px;
  background-color: rgb(219, 132, 18);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: seashell;
  font-size: large;
}
.Title {
  margin: 5px;
  font-size: 18px;
  font-family: "Segoe UI";
}
.SuccessMessage {
  width: 350px;
  height: 60px;
  background-color: rgb(189, 255, 189);
  color: rgb(73, 97, 31);
  font-size: 18px;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Segoe UI";
  text-align: center;
  border: solid 1px rgba(128, 128, 128, 0.376);
}

.ErrorMessage {
  width: 350px;
  height: 60px;
  background-color: rgb(248, 159, 156);
  color: rgb(139, 5, 5);
  font-size: 18px;
  margin: 5px;
  padding: 12px;
  text-align: center;
  border-radius: 5px;
  font-family: "Segoe UI";
  border: solid 1px rgba(128, 128, 128, 0.376);
}
