* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#registerR {
  color: #ff4136;
}
#loginR {
  color: #000;
  transition: all 0.4s ease 0s;
}
#loginR:hover {
  color: #ff4136;
}

.logged-img{
  width: 35%;
  height: 35%;
  object-fit: cover;
 
}
.logged {
  margin: 25px;;
  font-size: 1.5rem;
  font-weight: bold;
  color: #338FFF;
}