.navigation {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  opacity: 0.9;
  z-index: 2;
  top: 0px;
  box-shadow: 5px 4px 8px #88888878;
  
}

.logoCrypto {
  width: 15%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.icons {
  width: 15%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  
}
#design-logo{
  width: 70%;
  /* height: 68%; */
  cursor: pointer;
  padding-bottom: 0px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

a:hover {
  color: #3f96cd;
}
#nav-heart:hover{
  color: red;
}
.serach-continar {
  display: flex;
  align-items: center;
  width: 28%;
  justify-content: space-between;
}
.search {
  padding: 10px;
  width: 340px;
  border-top-width: 0px;
  padding-right: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 3px;
  /* border-radius: 3%; */
  background: #fff;
  font-size: 16px;
}
.test {
  display: flex;
}
.test2 {
  margin-top: 20px;
  margin-left: 20px;
}
#logoCrypto {
  display: flex !important;
  flex-direction: row !important;
}

.NavNoToken {
  width: 98vw;
  justify-content: center;
  display: flex;
}
.NavNoToken div {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.searchIcon{
  margin: 15px;
}

#BsCart3{
  position: relative;
  height: 100%;
}
.num-Cart{
  position: absolute;
    top: 7%;
    right: 11.3%;
}

.number{
 position: absolute;
 top: 1.5%;
    right: 10.1%;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 15px;
 font-weight: 600;
 color: #fff;
  transition: all 0.3s ease-out;
} 
    .background{
      position: absolute;
      top: 1.5%;
    right: 10.1%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: 600;
      background-color: #fc565a !important;
      color: #fff;
      transform: scale(1);
  }